<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deletar componente</title>
</head>
<body>
  <%- include("./partials/sideBar.ejs") %>
  <h1>Deletar componente</h1>

  <form action="/dellComponent/removeComponent" method="post">
    <div>
      <input type="text" name="component" placeholder="Nome do componente">
      <input type="text" name="spec" placeholder="Potencia">
    </div>
    
    <button type="submit">Deletar</button>
  </form>
</body>
</html>